blinker
certifi
click
colorama
coverage
DateTime
dnspython
Flask
iniconfig
itsdangerous
Jinja2
MarkupSafe
mongomock
mysql
mysqlclient
packaging
pip
pluggy
Pygments
pymongo
PyMySQL
pytest
python-dotenv
pytz
sentinels
Werkzeug
zope.interface