{% extends './_extends_/layout.html' %}

{% block title %} Modificar datos de {{product.name}} {% endblock %}

{% block link %}{% endblock %}

{% block header %}

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Dragonsoft</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('product.get_item', id=product.code)}}">Regresar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}

{% block body %}

<div class="m-5">
    <div class="card">
        <form action="{{url_for('product.put_item', id=product.code)}}" method="POST">
            <div class="card-header bg-warning">
                <h5 class="card-title text-white">Modificar registro</h5>
            </div>

            <div class="card-body bg-warning-subtle">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{product.name}}">
                    <div id="name" class="form-text">Escribe el nombre del producto</div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Precio</label>
                    <input type="number" class="form-control" id="price" name="price" step="0.01" value="{{product.price}}">
                    <div id="price" class="form-text">Escribe el precio por unidad</div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Categoria</label>
                    <div class="mb-3 row">
                        <label for="department" class="col-sm-2 col-form-label">Departamento</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="department" name="department" value="{{product.category.department}}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="subdepartment" class="col-sm-2 col-form-label">Subdepartamento</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="subdepartment" name="subdepartment" value="{{product.category.subdepartment}}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="section" class="col-sm-2 col-form-label">Seccion</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="section" name="section" value="{{product.category.section}}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="article" class="col-sm-2 col-form-label">Articulo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="article" name="article" value="{{product.category.article}}">
                        </div>
                    </div>
                    <div class="form-text">Escribe las categorias donde se ubica el producto</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Descripci&oacute;n</label>
                    <textarea type="text" class="form-control" id="description" name="description" rows="3">{{product.description}}</textarea>
                    <div id="description" class="form-text">Describe las caracter&iacute;sticas del producto</div>
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Contenido</label>
                    <textarea type="text" class="form-control" id="content" name="content" rows="3">{{', '.join(product.content)}}</textarea>
                    <div id="content" class="form-text">Escribe lo que contiene el producto</div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Modificar
                    </button>
                    <button type="reset" class="btn btn-warning">Cancelar</button>
                </div>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Quieres modificar los datos de este documento?
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Rechazar</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}

{% block footer %} {% include './_includes_/footer.html' %} {% endblock %}

{% block script %}{% endblock %}