{% extends './_extends_/layout.html' %}

{% block title %} {{product.name}} {% endblock %}

{% block link %}{% endblock %}

{% block header %}

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Dragonsoft</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('product.get_list')}}">Regresar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}

{% block body %}

<div class="m-5">
    <div class="card">
        <div class="card-header">Datos</div>

        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{product.name}}</div>
                        Nombre
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        {% set price = '$ {:0,.2f}'.format(product.price) %}
                        <div class="fw-bold">{{price}}</div>
                        Precio
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{product.category.department}}</div>
                        <div class="fw-bold">{{product.category.article}}</div>
                        Categoria
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{product.description}}</div>
                        Descripcion
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        {% for content in product.content %}
                            <div class="fw-bold">{{content}}</div>
                        {% endfor %}
                        Contenido
                    </div>
                </li>
            </ul>
        </div>

        <div class="card-footer">
            <a href="{{url_for('product.update_form', id=product.code)}}" class="btn btn-warning">Editar</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Eliminar
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Quieres eliminar este documento de la colecci&oacute;n?
            </div>
            <div class="modal-footer">
                <a href="{{url_for('product.delete_item', id = product.code)}}" class="btn btn-primary">Aceptar</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Rechazar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %} {% include './_includes_/footer.html' %} {% endblock %}

{% block script %}{% endblock %}