{% macro nvButton(title, text, onclick) -%}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ title }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ text }}
            </div>
            <div class="modal-footer">
                <a href="{{ onclick }}" class="btn btn-primary">Aceptar</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Rechazar</button>
            </div>
        </div>
    </div>
</div>

{%- endmacro %}

{% macro nvForm(title, text) -%}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ title }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ text }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Rechazar</button>
            </div>
        </div>
    </div>
</div>

{%- endmacro %}