{% extends './_extends_/layout.html' %}

{% block title %} Datos de orden {% endblock %}

{% block link %}{% endblock %}

{% block header %}

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Dragonsoft</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('order.get_list')}}">Regresar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}

{% block body %}

<div class="m-5">
    <div class="card">
        <div class="card-header">Datos</div>

        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{order.date}}</div>
                        Fecha de venta
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        {% set store = '{}, {}'.format(order.store.street, order.store.region) %}
                        <div class="fw-bold">{{store}}</div>
                        Lugar de venta
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        {% set customer = order.customer.fullname %}
                        <div class="fw-bold">{{customer}}</div>
                        Cliente
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Unidades</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in order.products %}
                                        <tr>
                                            {% set ed = product.code %}
                                            <td>{{product.name}}</td>
                                            {% set price = '$ {:0,.2f}'.format(product.price) %}
                                            <td>{{price}}</td>
                                            <td>{{product.units}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        Productos
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{order.quantity}}</div>
                        Unidades vendidas
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        {% set total = '$ {:0,.2f}'.format(order.total) %}
                        <div class="fw-bold">{{total}}</div>
                        Total a pagar
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        {% set pay = '$ {:0,.2f}'.format(order.pay) %}
                        <div class="fw-bold">{{pay}}</div>
                        Pago recibido
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        {% set change = '$ {:0,.2f}'.format(order.change) %}
                        <div class="fw-bold">{{change}}</div>
                        Cambio enviado
                    </div>
                </li>

            </ul>
        </div>

        <div class="card-footer">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Eliminar
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Quieres eliminar este documento de la colecci&oacute;n?
            </div>
            <div class="modal-footer">
                <a href="{{url_for('order.delete_item', id = order.code)}}" class="btn btn-primary">Aceptar</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Rechazar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %} {% include './_includes_/footer.html' %} {% endblock %}

{% block script %}{% endblock %}
