{% extends './_extends_/layout.html' %}

{% block title %} Clientes {% endblock %}

{% block header %} {% include './_includes_/header.html' %} {% endblock %}

{% block link %}{% endblock %}

{% block body %}

<div class="m-5">
    <div class="card">
        <div class="card-header">Registros</div>

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Direcci&oacute;n</th>
                        <th scope="col">Regi&oacute;n</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for store in stores %}
                        <tr>
                            <td>{{store.name}}</td>
                            {% set street = '{}, {}'.format(store.street.address, store.street.postal) %}
                            <td>{{street}}</td>
                            {% set region = '{}, {}, {}'.format(store.region.city, store.region.state, store.region.country) %}
                            <td>{{region}}</td>
                            <td>
                                <a href="{{url_for('store.get_item', id=store.code)}}" class="btn btn-secondary">Leer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %} {% include './_includes_/footer.html' %} {% endblock %}

{% block script %}{% endblock %}