{% extends './_extends_/layout.html' %}

{% block title %} Tienda {{store.name}} {% endblock %}

{% block link %}{% endblock %}

{% block header %}

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Dragonsoft</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('store.get_list')}}">Regresar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}

{% block body %}

<div class="m-5">
    <div class="card">
        <div class="card-header">Datos</div>

        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{store.name}}</div>
                        Nombre de sucursal
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        {% set phone = '{}-{}-{}'.format(store.phone[:3],store.phone[3:6],store.phone[6:]) %}
                        <div class="fw-bold">{{phone}}</div>
                        N&uacute;mero de tel&eacute;fono
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{store.street.address}}</div>
                        Dirrecci&oacute;n
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{store.street.postal}}</div>
                        C&oacute;digo postal
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{store.region.city}}</div>
                        Ciudad
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{store.region.state}}</div>
                        Estado o provincia
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{store.region.country}}</div>
                        Pa&iacute;s
                    </div>
                </li>
            </ul>
        </div>

        <div class="card-footer">   
        </div>
    </div>
</div>

{% endblock %}

{% block footer %} {% include './_includes_/footer.html' %} {% endblock %}

{% block script %}{% endblock %}
