{% extends '_extends_/layout.html' %}
{% import '_macros_/modal.html' as md %}

{% block title %} {{ title }} {% endblock %}

{% block header %} {% include './_includes_/header.html' %} {% endblock %}

{% block link %}{% endblock %}

{% block body %}

<div class="m-5">
    <div class="card">
        
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Articulo</th>
                        <th>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Limpiar
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{product.name}}</td>
                            {% set price = '$ {:0,.2f}'.format(product.price) %}
                            <td>{{price}}</td>
                            <td>{{product.category.department}}</td>
                            <td>{{product.category.article}}</td>
                            <td>
                                <a href="{{url_for('product.get_item', id=product.code)}}" class="btn btn-secondary">Leer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% set onclick = url_for('product.delete_list') %}
{{ md.nvButton('Eliminar', '¿Quieres eliminar todo?', onclick) }}

{% endblock %}

{% block footer %} {% include './_includes_/footer.html' %} {% endblock %}

{% block script %}{% endblock %}