{% import '_macros_/navbar.html' as nav %}

{% extends '_extends_/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block link %}{% endblock %}

{% block header %}

{% set link = url_for('product.get_list') %}
{{ nav.returnNav(link) }}

{% endblock %}

{% block body %}

<div class="m-5">
    <div class="card">
        <form action="{{url_for('product.post_item')}}" method="POST">
            <div class="card-header bg-primary">
                <h5 class="card-title text-white">Insertar registro</h5>
            </div>

            <div class="card-body bg-primary-subtle">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" name="name">
                    <div id="name" class="form-text">Escribe el nombre del producto</div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Precio</label>
                    <input type="number" class="form-control" id="price" name="price" step="0.01">
                    <div id="price" class="form-text">Escribe el precio por unidad</div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Categoria</label>
                    <div class="mb-3 row">
                        <label for="department" class="col-sm-2 col-form-label">Departamento</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="department" name="department">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="article" class="col-sm-2 col-form-label">Articulo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="article" name="article">
                        </div>
                    </div>
                    <div class="form-text">Escribe la categoria donde se ubica el producto</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Descripci&oacute;n</label>
                    <textarea type="text" class="form-control" id="description" name="description" rows="3"></textarea>
                    <div id="description" class="form-text">Escribe las caracter&iacute;sticas del producto</div>
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Contenido</label>
                    <textarea type="text" class="form-control" id="content" name="content" rows="3"></textarea>
                    <div id="content" class="form-text">Escribe lo que contiene el producto</div>
                </div>
            </div>

            <div class="card-footer">
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-primary">Insertar</button>
                    <button type="reset" class="btn btn-warning">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block footer %} {% include './_includes_/footer.html' %} {% endblock %}

{% block script %}{% endblock %}